server {
    listen 80;
    listen [::]:80;
    server_name yalovaadaklikkurbanlik.com www.yalovaadaklikkurbanlik.com;

    return 301 https://yalovaadaklikkurbanlik.com$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.yalovaadaklikkurbanlik.com;

    ssl_certificate /etc/letsencrypt/live/yalovaadaklikkurbanlik.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/yalovaadaklikkurbanlik.com/privkey.pem;

    return 301 https://yalovaadaklikkurbanlik.com$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name yalovaadaklikkurbanlik.com;

    root /var/www/yalovaadaklikkurbanlik/public;
    index index.php;

    ssl_certificate /etc/letsencrypt/live/yalovaadaklikkurbanlik.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/yalovaadaklikkurbanlik.com/privkey.pem;

    charset utf-8;
    client_max_body_size 10m;

    add_header X-Content-Type-Options "nosniff" always;
    add_header Referrer-Policy "strict-origin-when-cross-origin" always;
    add_header X-Frame-Options "SAMEORIGIN" always;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php8.2-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param HTTPS on;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }
}
